# Ignore .zst files
*.zst

# Ignore .tsv files
*.tsv

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Ignore Python bytecode cache directories
__pycache__/
*/__pycache__/
